* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header,
main,
footer,
nav,
aside,
section,
article {
  display: block;
}

body {
  font-family: "Quicksand";
}

#logo {
  background-image: url("../includes/images/icons/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 138px;
  height: 48px;
  /* margin-top: 28px;
  margin-left: 24px; */
}

/* header, nav, footer {
    width: 100%;
} */

#layout1-header {
  grid-template-columns: auto 1fr auto;
}

li a {
  background: #f3f0f0;
  padding: 5px;
  border-radius: 15px;
  grid-template-columns: auto 1fr;
}

#nav-container {
  display: flex;
  background: #d8d8d8;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.search-bar {
  display: flex;
  width: 704px;
  height: 48px;
  margin: 0 auto;
  padding: 12px;
  align-items: center;

  background: #f3f0f0;
  border-radius: 15px;
}

.search-bar > input,
input::placeholder {
  width: 100%;
  height: 100%;
  margin-left: 12px;
  font-weight: 600;
  font-size: 16px;
  color: #000000;

  outline: none;
  background-color: transparent;
}

#search-icon {
  background-image: url("../includes/images/icons/icon-search.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 24px;
  height: 24px;
  padding-left: 16px;
}

.category-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 16px;
}

.gardens-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.gardens-container:last-child {
  margin-right: 0;
}

#add-plant-item {
  justify-self: center;
}

.garden-item {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 264px;
  margin-right: 24px;
  justify-content: space-between;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.item {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 264px;
  margin-right: 32px;
  margin-left: 64px;
  justify-content: space-between;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  overflow: hidden;
  scroll-behavior: smooth;
}
.wrapper section {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin: 20px 0;
}
.wrapper section .item {
  position: relative;
  padding: 0 2px;
  transition: 250ms all;
}
.wrapper section .item:hover {
  margin: 0 40px;
  transform: scale(1.2);
}
.wrapper section .item .heading {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: black;
}
.wrapper section .item .duration {
  position: absolute;
  bottom: 0;
  left: 20px;
  color: black;
}
.wrapper section .arrow__btn {
  position: absolute;
  color: #fff;
  text-decoration: none;
  font-size: 6em;
  background: black;
  width: 80px;
  padding: 20px;
  text-align: center;
  z-index: 1;
}
.wrapper section .left-arrow {
  top: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}
.wrapper section .right-arrow {
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

.input-fields-wrapper {
  margin-right: 32px;
}

.input-field {
  display: flex;
  width: 898px;
  height: 48px;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 12px;
  align-items: center;
  background: #f3f0f0;
  border-radius: 15px;
  /* border: 1px solid; */

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

.time-inputs {
  display: flex;
  height: 48px;
  gap: 33px;
}

.time-input {
  display: flex;
  padding: 12px;
  justify-content: space-between;
  width: 100%;
  background: #f3f0f0;
  border-radius: 15px;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

.date {
  padding: 5px;
  border-radius: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

#tasks {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

#line-input {
  display: flex;
  width: 898px;
  height: 48px;
  margin: 0 auto;
  padding: 12px;
  align-items: center;

  background: transparent;
  border: 0px solid;
  border-radius: 0px;
  border-bottom: 1px solid;

  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}

.input-field > input::placeholder {
  width: 100%;
  height: 100%;
  margin-left: 12px;
  font-weight: 600;
  font-size: 16px;
  color: #000000;

  background-color: transparent;
}
.input-field > input {
  outline: none;
  width: 100%;
  height: 100%;

  background-color: transparent;
}

#text-input {
  height: 144px;
}
#text-input > textarea::placeholder {
  font-weight: 600;
  color: #000000;
}

.input-field > textarea {
  width: 100%;
  height: 100%;
  resize: none;

  outline: none;
  background-color: transparent;
}

#line-input > input::placeholder {
  width: 100%;
  height: 100%;
  margin-left: 12px;
  font-weight: 600;
  font-size: 24px;
  color: #000000;

  background-color: transparent;
}
#line-input > input {
  outline: none;
  width: 100%;
  height: 100%;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  justify-content: space-evenly;
  align-items: center;
  /* padding-left: 50px; */
}
.second-comtainer {
  padding-top: 20px;
  padding-left: 50px;
}
.garden-image-input {
  display: flex;
  flex-direction: column;
  width: 424px;
  height: 272px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background: #f3f0f0;
}

.garden-image-edit {
  display: grid;
  width: 424px;
  height: 272px;
  align-content: center;
  justify-content: center;

  background: #f3f0f0;
}

.garden-image-edit > :nth-child(2) {
  width: 42px;
  height: 42px;
  position: absolute;
  margin: 12px;
  align-self: end;
  justify-self: end;
}

.garden-image-input .upload-garden-photo {
  width: 106px;
  height: 104px;
  align-self: center;
  justify-self: center;
}

#create-item {
  display: flex;
  flex-direction: column;
  width: 424px;
  height: 390px;
  /* margin-right: 32px; */
  /* margin-bottom: 32px; */
  align-items: center;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

#plant-item {
  display: flex;
  flex-direction: column;
  width: 424px;
  height: 390px;
  /* margin-right: 32px; */
  /* margin-bottom: 32px; */
  align-items: center;
  justify-content: center;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

#item-display {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.amount-display {
  display: flex;
  width: 424px;
  height: 64px;
  justify-content: center;
  align-items: center;

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #f3f0f0;
}

.amount-display > span {
  font-weight: 400;
}

.plant-amount-editor {
  display: flex;
  justify-content: center;
  width: 424px;
  height: 64px;

  border-radius: 15px;
  background: #d8d8d8;
}

.plant-amount {
  display: flex;
  width: 286px;
  height: 64px;
  justify-content: center;
  align-items: center;

  background: #f3f0f0;
}

.plant-amount > input {
  width: auto;
  outline: none;
  text-align: center;

  background-color: transparent;
}

.plant-amount > input::placeholder {
  text-align: center;
  outline: none;
  background-color: transparent;
}

.editor-button {
  width: 69px;
  height: 64px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.submit-button {
  width: 144px;
  height: 48px;
  margin-top: 16px;

  border-radius: 15px;
  background: #f3f0f0;
}

.garden-detail {
  font-weight: 400;
}

.social-container {
  display: flex;
  flex-direction: row;
  width: 1376px;
  align-self: center;
}

.comments-wrapper {
  display: flex;
  flex-direction: column;
  padding: 16px;
  justify-content: center;
}

.comment-container {
  display: flex;
  flex-direction: row;
  width: 848px;
  height: 200px;
  padding: 20px;
  
  border: 0px solid;
  border-radius: 0px;
  /* border-bottom: 1px solid; */
  border-top: 1px solid;
  /*background: transparent;*/
  background: #f3f0f0;

}

#comment-profile {
  width: 64px;
  height: 64px;
}

#story-profile {
  width: 32px;
  
  border: 2px solid;
  border-radius: 50%;
  border-color: #C4C4C4;
}

.comment {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.comment > span {
  margin-left: 14px;
}

.comment > span:first-child {
  margin-left: 0;
}

#social-comments {
  flex-direction: column;
}

.social-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.story-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 12px;
}

#story-profile > span {
  font-size: 12px;
}

#social-stories {
  display: flex;
  align-content: baseline;
  justify-content: flex-start;
  margin: 0;
  width: 424px;
}

#social-stories > a {
  /* position: absolute; */
}

.story-desktop {
  display: flex;
  width: 104px;
  height: 200px;
  padding: 6px;
  align-items: end;
  justify-content: center;
  background: url('./images/stories/lihi-story.png');
  background-size: 100% auto;
  /* background: #F3F0F0; */
  border-radius: 5px;
  margin-right: 16px;
  margin-bottom: 8px;
}